﻿@{
    ViewBag.Title = "Home Page";
}
@model List<task1.Models.ApplicationUser>
@foreach (var user in Model) {
<div>
    <div style="height:150px; width:50%; float:left; padding:50px 40px 50px 80px; background-color:antiquewhite; font-size:20px;">@user.FirstName @user.LastName<br /><span style="font-size:15px;">@user.Email</span></div>
    <div style="height:150px; width:50%; float:right; text-align:right; padding:50px 80px 50px 40px; background-color:aliceblue; font-size:20px;">
        <div style="height:35px; width:120px; background-color:#33ccff; float:right; text-align:center; border-radius:5px;"><span style="font-size:15px;">Submit</span></div>
    </div>
</div>
@*<div>
    <div style="height:150px; width:50%; float:left; padding:50px 40px 50px 80px; background-color:antiquewhite; font-size:20px;">@user.FirstName + @user.LastName<br /><span style="font-size:15px;">@user.Email</span></div>
    <div style="height:150px; width:50%; float:right; text-align:right; padding:50px 80px 50px 40px; background-color:aliceblue; font-size:20px;">
        <div style="height:35px; width:120px; background-color:#33ccff; float:right; text-align:center; border-radius:5px;"><span style="font-size:15px;">Submit</span></div>
    </div>
</div>
<div>
    <div style="height:150px; width:50%; float:left; padding:50px 40px 50px 80px; background-color:antiquewhite; font-size:20px;">@user.FirstName + @user.LastName<br /><span style="font-size:15px;">user.Email</span></div>
    <div style="height:150px; width:50%; float:right; text-align:right; padding:50px 80px 50px 40px; background-color:aliceblue; font-size:20px;">
        <div style="height:35px; width:120px; background-color:#33ccff; float:right; text-align:center; border-radius:5px;"><span style="font-size:15px;">Submit</span></div>
    </div>
</div>*@
}
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@